<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout/user_head::userHead"></head>

<style>
  .check_interest input[type="checkbox"] {
    display: none;
  }

  .check_interest input[type="checkbox"] + span {
    display: inline-block;
    padding: 15px 10px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
  }

  .check_interest input[type="checkbox"]:checked + span {
    background-color: #113a6b;
    color: #ffffff;
  }
</style>

<body>

<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="/" class="logo d-flex align-items-center w-auto">
                <span class="d-none d-lg-block">HobbyBuddy</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3" style="width: 40rem;">

              <div class="card-body">

                <div class="py-0">
                  <h5 class="card-title text-center pb-0 fs-5 fw-bold">회원가입</h5>
                </div>

                <hr>

                <form class="row g-3 needs-validation" action="/new" method="post" enctype="multipart/form-data" novalidate>

                  <div class="col-12">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" class="form-control" name="email" id="email"
                           placeholder="이메일"
                           required>
                    <div class="invalid-feedback">이메일을 입력해주세요!</div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="password"
                           placeholder="Password" data-minlength="6" required>
                    <div class="invalid-feedback">비밀번호를 입력해주세요!</div>
                  </div>

                 <div class="col-12">
                    <label class="control-label">프로필 이미지</label><br>
                    <div style="display:inline;">
                      <label for="ex_file">
                        <img id="profile_img" onclick="fileRemove()" src="/assets/img/default_profile.jpg"
                             style="width:150px; height:150px; cursor:pointer; border-radius: 90%;">
                      </label>
                      <input type="file" name="imgsw" id="ex_file" accept=".jpg, .png"
                             style="display: none;">

                      <span id='user_upload_img'></span>
                    </div>
                  </div>
                  <script>
                    var fileInfoArr = [];
                   	
                    let filetag = document.querySelector("input[name=imgsw]");
                   	filetag.onchange = function() {
                   		let imgTag = document.querySelector("#profile_img");
                   		
                   		if(filetag.files.length > 0) {
                   			let reader = new FileReader();
                   			
                   			reader.onload = function(data) {
                   				//alert(data); 
                   				imgTag.src = data.target.result;
                   			}
                   			reader.readAsDataURL(filetag.files[0]);
                   		} else {
                   			imgTag.src = "";
                   		} 
                   			
                   		
                   	}
                      
                  </script>

                  <div class="col-12">
                    <label for="nickname" class="form-label">닉네임</label>
                    <input type="text" class="form-control" name="nick" id="nickname" placeholder="닉네임"
                           required>
                    <div class="invalid-feedback">닉네임을 입력해주세요!</div>
                  </div>
                  
                   <div class="row mb-3">
                            <label for="ckeditor" class="col-sm-12 col-form-label">readme</label>
                            <div class="col-sm-13">
                                        <textarea id="ckeditor" name="editor" placeholder=""
                                                  style="display: none; width: 100%;"></textarea>

                                <script>
                                    let editor;

                                    ClassicEditor
                                        .create(document.querySelector('#ckeditor'), {})
                                        .then(newEditor => {
                                            editor = newEditor;
                                        })

                                        .then(editor => {
                                            window.editor = editor;

                                        })
                                        .catch(error => {
                                            console.error('Oops, something went wrong!');
                                            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                                            console.warn('Build id: g64ljk55ssvc-goqlohse75uw');
                                            console.error(error);
                                        });
                                </script>
                                <textarea id="content" name="introduce" style="display: none"></textarea>
                            </div>
                        </div>
                  
					<div class="col-12 d-flex justify-content-center">
                    <button type="button" class="btn btn-dark btn-lg px-5" onclick="history.back()" style="margin-right: 20px">돌아가기</button>
                    <button type="submit" onclick="edit_set" class="btn btn-dark btn-lg px-5 ml-5" >가입하기</button>
                    
                  </div>
                 <div th:if="${_csrf} ne null" >
 				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
 				</div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->
<script type="text/javascript">
function sub() {
//	alert(document.getElementById("ex_file").value);
	document.getElementById("ex_file").value = null;
	document.getElementById("content").value = editor.getData();
	//return true;
	//return false;
}

</script>
</body>

</html>