<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/user_head::userHead"></head>

<style>
    body {
        background: #F5F9FD;
    }

    .register-container {
        width: 50%;
        margin: 0 auto;
        border: 4px solid #012567;
    }

    .checkbox_week input[type="checkbox"] {
        display: none;
    }

    .checkbox_week input[type="checkbox"] + span {
        display: inline-block;
        padding: 15px 10px;
        border: 1px solid #dfdfdf;
        background-color: #ffffff;
        text-align: center;
        cursor: pointer;
    }

    .checkbox_week input[type="checkbox"]:checked + span {
        background-color: #012567;
        color: #ffffff;
    }

    .ck-editor__editable:not(.ck-editor__nested-editable) {
        min-height: 250px;
    }

    table {
        border-spacing: 0 30px;
        border-collapse: separate;
        font-size: 17px;
        font-weight: bold;
    }

    .address-btn {
        background-color: #012567;
        color: #ffffff;
        font-weight: bold;
    }

    .prev-arrow {
        display: inline;
        font-size: 100px;
        color: #012567;
        position: absolute;
        top: 50%;
        left: -6%;
        z-index: 1;
        cursor: pointer
    }

    .next-arrow {
        display: inline-block;
        font-size: 100px;
        color: #012567;
        position: absolute;
        top: 50%;
        right: -6%;
        z-index: 1;
        cursor: pointer;
    }

    .prev-arrow.slick-disabled:before,
    .next-arrow.slick-disabled:before {
        opacity: .25;
        cursor: default;
    }

    .schedule-bolder {
        border: 2px solid #012567;
        border-radius: 10px;
        padding: 20px 30px;
    }

    #schedule-table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        text-align: left;
        font-size: 14px;
        line-height: 0.8;
        border: 2px solid #ccc;
        margin-top: 20px;
    }

    #schedule-table thead {
        border-right: 2px solid #ccc;
        border-left: 2px solid #ccc;
        background: #012567;
    }

    #schedule-table thead th {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #fff;
    }

    #schedule-table td {
        padding: 10px;
        vertical-align: top;
        border-bottom: 2px solid #ccc;
    }
</style>

<script>
    $(document).ready(function () {
        $(".reg-split").slick({
            dots: true,
            infinite: false,
            draggable: false,
            prevArrow: '<i class="prev-arrow bi bi-chevron-compact-left"></i>',
            nextArrow: '<i class="next-arrow bi bi-chevron-compact-right"></i>'
        });
    });
</script>

<body>

<!-- ======= Header ======= -->
<header th:replace="layout/header::header"></header>

<main id="main" class="main">
    <section class="section">
        <div class="register-container card">
            <div class="card-body px-5 fw-bold">
                <div class="reg-split">
                    <div class="page-1 px-1">
                        <h5 class="card-title">포트폴리오 등록</h5>

                        <div class="row mb-3">
                            <label for="className" class="col-sm-2 col-form-label">포트폴리오 명</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="className" id="className"
                                       placeholder="포트폴리오 명" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label d-flex align-items-center">한 줄 소개</label>
                            <div class="col-sm-10">
                                <div class="materialLengthWrap d-flex justify-content-end">
                                    <span class="materialTextCount">0자</span>
                                    <span class="materialTextTotal">/150자</span>
                                </div>
                                <textarea class="form-control" placeholder="150자 이내로 입력해주세요" name="material"
                                          id="material"
                                          maxlength="150" style="height: 100px; resize: none;"
                                          required></textarea>

                                <script>
                                    $('#material').keyup(function (e) {
                                        let content = $(this).val();

                                        // 글자수 세기
                                        if (content.length == 0 || content == '') {
                                            $('.materialTextCount').text('0자');
                                        } else {
                                            $('.materialTextCount').text(content.length + '자');
                                        }

                                        // 글자수 제한
                                        if (content.length > 150) {
                                            // 200자 부터는 타이핑 되지 않도록
                                            $(this).val($(this).val().substring(0, 150));
                                            // 200자 넘으면 알림창 뜨도록
                                            alert('150자까지 입력 가능합니다.');
                                        }
                                        ;
                                    });
                                </script>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">진행 기간</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" name="startDate"
                                               id="startDate" onchange="setLastDate()" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" name="lastDate"
                                               id="lastDate" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form id="curriculumForm">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label mt-4">커리큘럼</label>
                                <div class="col-sm-10">

                                    <table style="width: 100%;">
                                        <tbody id="addTable">
                                        <tr>
                                            <td width="4%" class="fs-3 pt-4">
                                                <span>1.</span>
                                                <input type="hidden" name="curOrder" value="1">
                                            </td>
                                            <td colspan='2'>
                                                <p class="mb-1">타이틀</p>
                                                <input type='text' class='form-control' name="curTitle"
                                                       placeholder='30자까지 입력가능합니다.'>

                                                <p class="mb-1 mt-2">내용</p>
                                                <input type='text' class='form-control' name="curContent"
                                                       placeholder='50자까지 입력가능합니다.'>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <label class="d-flex justify-content-center">
                                        <div class="fw-bold" style="cursor:pointer;" onclick="insertRow()">
                                            추가하기 ▼
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </form>

                        <div class="row mb-3">
                            <label for="ckeditor" class="col-sm-2 col-form-label">readme</label>
                            <div class="col-sm-10">
                                        <textarea id="ckeditor" placeholder=""
                                                  style="display: none; width: 100%;"></textarea>

                                <script>
                                    let editor;

                                    ClassicEditor
                                        .create(document.querySelector('#ckeditor'), {})
                                        .then(newEditor => {
                                            editor = newEditor;
                                        })

                                        .then(editor => {
                                            window.editor = editor;

                                        })
                                        .catch(error => {
                                            console.error('Oops, something went wrong!');
                                            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                                            console.warn('Build id: g64ljk55ssvc-goqlohse75uw');
                                            console.error(error);
                                        });
                                </script>
                            </div>
                        </div>

                    </div> <!-- page-1 end -->

                    <div class="page-2 px-1">
                    </div> <!-- page-2 end -->

                    <div class="page-3 px-1">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label d-flex align-items-center">활동 사진</label>
                            <div class="col-sm-10">
                                <div style="display:inline;">
                                    <label for="activityImg">
                                        <img src="/images/common/add_img.png"
                                             style="width:100px; height:100px; cursor: pointer;">
                                    </label>
                                    <form id="addForm" method="post" enctype="multipart/form-data">
                                        <input type="file" id="activityImg" name="activityImg[]"
                                               onchange="atvPreviewImage(this,'atv_img_preview')"
                                               style="display: none;" multiple="true">
                                    </form>
                                    <span id='atv_img_preview'></span>
                                </div>

                                <script>
                                    var fileArr;
                                    var fileInfoArr = [];

                                    //썸네일 클릭시 삭제.
                                    function atvFileRemove(index) {
                                        fileInfoArr.splice(index, 1);
                                        $("#img_id_" + index).remove();
                                    }

                                    //썸네일 미리보기.
                                    function atvPreviewImage(targetObj, previewId) {
                                        var files = targetObj.files;
                                        fileArr = Array.prototype.slice.call(files);

                                        var preview = document.getElementById(previewId); //div id
                                        var ua = window.navigator.userAgent;

                                        //ie일때(IE8 이하에서만 작동)
                                        if (ua.indexOf("MSIE") > -1) {
                                            targetObj.select();
                                            try {
                                                var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
                                                var ie_preview_error = document.getElementById("ie_preview_error_" + previewId);


                                                if (ie_preview_error) {
                                                    preview.removeChild(ie_preview_error); //error가 있으면 delete
                                                }

                                                var img = document.getElementById(previewId); //이미지가 뿌려질 곳

                                                //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
                                                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + src + "', sizingMethod='scale')";
                                            } catch (e) {
                                                if (!document.getElementById("ie_preview_error_" + previewId)) {
                                                    var info = document.createElement("<p>");
                                                    info.id = "ie_preview_error_" + previewId;
                                                    info.innerHTML = e.name;
                                                    preview.insertBefore(info, null);
                                                }
                                            }
                                            //ie가 아닐때(크롬, 사파리, FF)
                                        } else {
                                            var files = targetObj.files;

                                            for (var i = 0; i < files.length; i++) {
                                                var file = files[i];
                                                fileInfoArr.push(file);

                                                var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                                                if (!file.type.match(imageType))
                                                    continue;

                                                var span = document.createElement('span');
                                                span.id = "img_id_" + i;
                                                span.style.width = '100px';
                                                span.style.height = '100px';
                                                span.style.display = 'inline-block';
                                                span.style.backgroundColor = '#cccccc';
                                                span.style.textAlign = 'center';
                                                span.style.marginRight = '10px';
                                                preview.appendChild(span);

                                                var img = document.createElement("img");
                                                img.className = "addImg";
                                                img.classList.add("obj");
                                                img.file = file;
                                                img.style.width = 'inherit';
                                                img.style.height = 'inherit';
                                                img.style.cursor = 'pointer';
                                                const idx = i;
                                                img.onclick = () => atvFileRemove(idx);//이미지를 클릭했을 때.
                                                span.appendChild(img);

                                                if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                                                    var reader = new FileReader();
                                                    reader.onloadend = (function (aImg) {
                                                        return function (e) {
                                                            aImg.src = e.target.result;
                                                        };
                                                    })(img);
                                                    reader.readAsDataURL(file);
                                                } else { // safari is not supported FileReader
                                                    if (!document.getElementById("sfr_preview_error_" + previewId)) {
                                                        var info = document.createElement("p");
                                                        info.id = "sfr_preview_error_" + previewId;
                                                        info.innerHTML = "not supported FileReader";
                                                        preview.insertBefore(info, null);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </script>
                            </div>
                        </div>

                        <script>
                            //Row 추가
                            function insertRow() {
                                var table = document.getElementById('addTable');

                                var html = "";
                                html +=
                                    "<tr>" +
                                    "<td width=\"4%\" class=\"fs-3 pt-4\">" +
                                    "<span>1.</span>" +
                                    "<input type=\"hidden\" name=\"curOrder\" value=\"1\">" +
                                    "</td>" +
                                    "<td>" +
                                    "<p class=\"mb-1\">타이틀</p>" +
                                    "<input type='text' class='form-control' name=\"curTitle\" placeholder='30자까지 입력가능합니다.'>" +
                                    "<p class=\"mb-1 mt-2\">내용</p>" +
                                    "<input type='text' class='form-control' name=\"curContent\" placeholder='50자까지 입력가능합니다.'>" +
                                    "</td>" +
                                    "<td width=\"4%\" style=\"text-align: right; font-size: 70px;\">" +
                                    "<button type=\"button\" class=\"btn-close mt-4\" onclick=\"removeRow(this)\"></button>" +
                                    "</td>" +
                                    "</tr>";
                                table.insertAdjacentHTML("beforeend", html);
                                reloadIndex();
                                window.scrollTo(0, document.body.scrollHeight);
                            }

                            //Row 삭제
                            function removeRow(element) {
                                var table = document.getElementById('addTable');

                                var td = element.parentNode;
                                var tr = td.parentNode;

                                table.removeChild(tr);
                                reloadIndex();
                            }

                            //인덱스 재설정
                            function reloadIndex() {
                                var table = document.getElementById('addTable');
                                var tableRowLength = table.rows.length; // Row 개수
                                var cells;
                                var html = "";

                                for (var i = 1; i < tableRowLength; i++) {
                                    html = "";
                                    cells = table.rows[i].cells;

                                    html += "<span>" + (table.rows[i].rowIndex + 1) + ".</span>";
                                    html += "<input type='hidden' name='curOrder' value=" + (table.rows[i].rowIndex + 1) + ">";

                                    cells[0].innerHTML = html;
                                }
                            }
                        </script>

                        <div class="col-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-dark btn-lg px-5" onclick="history.back()">돌아가기
                            </button>
                            <button type="button" class="btn btn-dark btn-lg px-5 ml-5" onclick="dataSubmit()">
                                가입하기
                            </button>
                        </div>
                    </div> <!-- page-3 end -->

                </div>
            </div> <!-- card-body end -->

            <script>
                function dataSubmit() {
                    var repImg = $("#repImg")[0].files[0];

                    var curriculum = {
                        sequence: 0,
                        title: '',
                        content: ''
                    }
                    var curList = [];

                    $('#curriculumForm input').each(function (index) {
                        var input = $(this);
                        switch (input.attr('name')) {
                            case 'curOrder':
                                curriculum.sequence = input.val();
                                break;
                            case 'curTitle':
                                curriculum.title = input.val();
                                break;
                            case 'curContent':
                                curriculum.content = input.val();
                                break;
                        }
                        if (index % 3 == 2) { //3개씩 끊기
                            curList.push(curriculum);
                            curriculum = {
                                sequence: 0,
                                title: '',
                                content: ''
                            }
                        }
                    });

                    var classData = {
                        className: $('#className').val(),
                        categoryId: $('#categoryId').val(),
                        classIntro: editor.getData(),
                        address: $('#address').val(),
                        addressDetail: $('#addressDetail').val(),
                        lat: $('#lat').val(),
                        lng: $('#lng').val(),
                        timeRequired: $('#timeRequired_hour').val() + "시간 " + $('#timeRequired_minutes').val() + "분",
                        personnel: $('#minPersonnel').val() + "~" + $('#maxPersonnel').val() + "명",
                        price: $('#price').val(),
                        material: $('#material').val(),
                        precautions: $('#precautions').val(),
                        curriculumList: curList
                    };

                    const scheduleData = {
                        scheduleList: scheduleList
                    }

                    var formData = new FormData();

                    var totalfiles = document.getElementById('activityImg').files.length;
                    for (var index = 0; index < totalfiles; index++) {
                        formData.append("activityImg", document.getElementById('activityImg').files[index]);
                    }
                    formData.append("repImg", repImg);
                    formData.append("class", new Blob([JSON.stringify(classData)], {type: "application/json"}));
                    formData.append("schedule", new Blob([JSON.stringify(scheduleData)], {type: "application/json"}));

                    $.ajax({
                        url: "/user/class/register",
                        data: formData,
                        processData: false,
                        contentType: false,
                        enctype: 'multipart/form-data',
                        type: "POST",
                        success: function () {
                            window.location = "/";
                            alert("클래스 등록에 성공했습니다.");
                        },
                        error: function () {
                            window.location = "/user/class/register";
                            alert("클래스 등록에 실패했습니다.");
                        }
                    });
                }
            </script>

        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="layout/footer::footer"></footer>

</body>

</html>